.wd-course-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 120px;
    margin: 0px;
    margin-left: 20px;
    margin-right:20px;
}
.wd-course-navigation li {
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.wd-course-navigation-active {
    border-left: 2px solid black;
    color: black;
}
.wd-course-navigation a {
    color: rgb(181, 40, 40);
    text-decoration: none;
}